profiles {
  sge {
	process {
	executor = 'sge'
	clusterOptions = {'-V -S /bin/bash -N SRA_download -l h_rt=01:00:00 -pe openmpi-fillup 4 -l h_vmem=100G -q short.q -o SRA_download.log'}
  }
	}
   slurm {
    process {
    executor = 'slurm'
    clusterOptions = { '--job-name SRA_download -t 04:00:00 -p std --cpus-per-task=4 --mem-per-cpu=12G -o SRA_download.log'}
  }
    }

}
